language: ruby
rvm:
#  - 2.1.6
  - 2.2.2
env:
  - DB=officehawk_test
script:
  - RAILS_ENV=test bundle exec rake db:migrate test
before_script:
  - psql -c 'create database officehawk-test' -U postgres